:root {
  --black: #050505;
  --black-soft: #0d0d0d;
  --white: #ffffff;
  --off-white: #f4f4f2;
  --grey: #888888;
  --border: rgba(255, 255, 255, 0.14);

  --container: 1400px;

  --ease-premium: cubic-bezier(0.16, 1, 0.3, 1);

  --font-display: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}